<h1>VTL - Virtual Track Lab</h1>
<fieldset><legend><h1>Tracks</h1></legend>
    <% @tracks.each do |track| %>
  <h4><%= track.title %></h4>
  <ul>
      <li>
        <%= track.description %>
      </li>
      <li>
        <a href="<%= track.scan_url %>">Scan URL</a>
      </li>
  </ul>
    <% end %>
</fieldset>
<fieldset><legend><h1>Add Track</h1></legend>
<p>TODO</p>
</fieldset>