<div class="container">
  <div class="row col-sm-3 m-3">
    <a href="/" class="btn btn-primary" role="button">Back to Tracks</a>
  </div>
  <div class="row m-3">
    <h1><%= @track.title %></h1>
    <hr />
    <p><%= @track.description %></p>
    <hr />
    <img src="<%= @track.thumbnail %>" class="img-fluid img-thumbnail w-100 mb-3 shadow-sm rounded-0" alt="Scan1">
    <a href="<%= @track.scan_url %>" class="btn btn-primary" role="button">View 3D Scan</a>
  </div>
  <div class="row m-3">
<div class="sketchfab-embed-wrapper">
    <iframe title="Spry Mints" src="https://sketchfab.com/models/560f2f8897594561b075dcd66577bab9/embed">
    </iframe>
   <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/spry-mints-560f2f8897594561b075dcd66577bab9" target="_blank" style="font-weight: bold; color: #1CAAD9;">Spry Mints</a>
        by <a href="https://sketchfab.com/twknab" target="_blank" style="font-weight: bold; color: #1CAAD9;">twk</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>
  </div>
</div>