<a href="/">Back to All Tracks</a>
<fieldset>
  <legend>
    <h1><%= @track.title %></h1>
  </legend>
  <p><%= @track.description %></p>
  <ul>
    <li>
      <a href="<%= @track.scan_url %>">View Scan</a>
    </li>
  <ul>
</fieldset>